name: Docker CI/CD to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Deploy Docker container on EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ec2-user
        key: ${{ secrets.EC2_SSH_KEY }}
        port: 22
        script: |
          echo "Connected to EC2"

          cd /home/ec2-user

          if [ ! -d Devops ]; then
            git clone https://github.com/${{ github.repository }}.git Devops
          fi

          cd Devops
          git pull origin main

          docker stop newcontainer || true
          docker rm newcontainer || true
          

          docker build -t newimg:latest .

          docker run -d \
          --name newcontainer \
          -p 80:80 \
          newimg

          echo "Docker deployment completed"
          